* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(201, 255, 194);
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

form {
    background-color: rgb(186, 255, 165);
    width: 400px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 2px 4px 6px rgba(0,0,0, 0.3);
    margin: 250px auto;
}

button {
    background-color: rgb(0, 119, 255);
    border: none;
    border-radius: 10px;
    padding: 13px;
    color: white;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    margin-top: 20px;
    display: block; 
    margin: 50px auto; 
}

h1 {
    margin-top: 100px;
    text-align: center;
}

.reg_part1>label {
    display: block;
    margin-bottom: 10px
}

.reg_part1>input {
    margin-bottom: 10px;
    height: 130%;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 7px;
}

.reg_part1>input:focus {
    background-color: rgb(202, 202, 202);
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
}

button:hover {
    background-color: rgb(0, 94, 202);
    cursor: pointer;
}

.reg_part2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.reg_part2>label {
    margin-right: 8px;
}